
body {
    font-family: sans-serif;
    background-color: #ffffff;
    margin: 0;
	padding: 20px;
    color: green;
}

h1, h3 {
    color: green;
}

a {
    color: purple;
    text-decoration: none;
}

.logo {
    width: 120px;
    margin: 10px;
}


left {
    display: block;
    text-align: left;
}

bottomleft {
    display: block;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #ffffff;
    padding: 12px;
    border: 1px solid green;
}

bottomright {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40%;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid green;
}


table {
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
    width: 90%;
}

th {
    background-color: green;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    text-align: center;
}

table table {
    width: 100%;
    margin: 0;
}

p {
    text-align: center;
    margin-top: 20px;
}


p a {
    font-weight: bold;
}
